.catalog-video__video {
  width: 100%;
  height: 100%;
  margin-bottom: 34px;
  @media screen and #{$breakpoint-tablet}{
    order: 1;
  }
  @media screen and #{$breakpoint-desktop}{
    flex: 1 455px;
    width: 682px;
    margin-right: 79px;
    margin-bottom: 0;
  }
}
