.catalog-video__title {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 700;
  display: inline-block;
  @media screen and #{$breakpoint-tablet}{
    order: 1;
    br {
      display: none;
    }
  }
  @media screen and #{$breakpoint-desktop}{
    br {
      display: block;
    }
  }
}
