.catalog-item__options {
  color: $font-lightblack-main;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding-bottom: 27px;
  border-bottom: 1px solid $border-header-gray;
  margin-bottom: 27px;
}
