.catalog-item__down {
  border: 1px solid $border-header-gray;
  padding: 30px 28px;
  box-sizing: border-box;
  @media screen and #{$breakpoint-tablet}{
    margin-bottom: 0;
    flex-grow: 1;
  }
}
