.testimonials__title {
  color: black;
  font-family: "Open Sans",sans-serif;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 38px;
  @media screen and #{$breakpoint-tablet}{
    font-size: 43px;
    order: 1;
    margin-bottom: 62px;
  }
}
