.contacts-map {
  margin-bottom: 39px;

  height: 457px;
  background: url("../img/map-mobile@1x.jpg") no-repeat 50% 50%;
  background-size: auto;
  @media screen and #{$breakpoint-desktop}{
    float: right;
    width: 50%;
    height: 400px;
    //vremeno
    @include clearfix;
  }
}
