.contacts-table__address-option {
  color: $font-lightblack-main;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  vertical-align: text-top;
  @media screen and #{$breakpoint-tablet} {
    font-size: 17px;
  }
}
