.contacts {
  padding: 44px 30px 39px;
  @include clearfix;
  @media screen and #{$breakpoint-tablet}{
    padding: 70px 50px 57px;
  }
  @media screen and #{$breakpoint-desktop}{
    padding: 71px 50px 105px;
  }
}
