.footer {
  background-color: $background-footer-gray;
  padding: 0 30px;
  @media screen and #{$breakpoint-tablet}{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 58px 50px 51px;
  }
}
