.btn-bucket {
  color: white;
  font-family: "Open Sans",sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $background-btn;
  width: 100%;
  padding: 20px 0;
}
