.btn-buy {
  color: $font-lightblack-main;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ffffff;
  width: 260px;
  border: 2px solid $font-lightblack-main;
  order: 5;
  height: 52px;
  @media screen and #{$breakpoint-tablet} {
    width: 292px;
  }
}
