//fonts
$font-black-main: #010000;
$font-aqua-main: #63d1bb;
$font-lightblack-main: #444444;
$font-lightblack-main-opacity: rgba(68,68,68,0.1);
//background
$background-btn: #63d1bb;
$background-left-btn-main: #63d1bb;
$background-left-btn-hover: #59d5bc;
$background-right-btn-main: #56c3b2;
$background-right-btn-hover: #46c1ae;
$background-footer-gray: #f1f1f1;
//border
$border-header-gray: #ececec;
