//fonts
$font-black-main: #010000;
$font-aqua-main: #63d1bb;
$font-lightblack-main: #444444;
$font-lightblack-main-opacity: rgba(68,68,68,0.1);
//background
$background-btn: #63d1bb;
$background-left-btn-main: #63d1bb;
$background-left-btn-hover: #59d5bc;
$background-right-btn-main: #56c3b2;
$background-right-btn-hover: #46c1ae;
$background-footer-gray: #f1f1f1;
$background-separator-aqua: #62d1ba;
//border
$border-header-gray: #ececec;
$border-footer-gray: #e5e5e5;
//breakpoints
$breakpoint-max: max-width;
$breakpoint-min: min-width;
$phone-max: 767px;
$tablet-min: 768px;
$tablet-max: 1150px;
$desktop-min: 1150px;
$breakpoint-phone: ($breakpoint-max: $phone-max);
$breakpoint-tablet: ($breakpoint-min: $tablet-min);
$breakpoint-tablet-max: ($breakpoint-max: $tablet-max);
$breakpoint-desktop: ($breakpoint-min: $desktop-min);
