.featured__table {
  border-collapse: collapse;
  margin-bottom: 28px;
  width: 100% ;
  @media screen and #{$breakpoint-desktop}{
    margin-left: 175px;
    width: auto;
    margin-bottom: 111px;
  }
}
