.featured__price {
  color: $font-lightblack-main;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 28px;
  @media screen and #{$breakpoint-tablet}{
    width: 50%;
    float: left;
    clear: left;
    order: 4;
  }
}
