.featured-table__diameter-option {
  color: $font-lightblack-main;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  border-bottom: 1px solid #ececec;
  border-collapse: collapse;
}
