.popup-size__label {
  color: $font-lightblack-main;
  font-family: "Open Sans",sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px 35px;
  border: 2px solid $font-lightblack-main-opacity;
  cursor: pointer;
}

.popup-size__input:checked + .popup-size__label {
  border: 2px solid $background-btn;
}
