.header {
  position: relative;
  @media screen and #{$breakpoint-tablet}{
    background-image: url("../img/hero-desktop.jpg");
    background-position: 50%, 100%;
    background-size: cover;
    height: 746px;
    padding: 0 50px;
  }
}
