.header-title__title {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: $font-black-main;
  font-size: 27px;
  font-weight: 700;
  padding: 76px 0 0 0;
  margin: 0;
  @media screen and #{$breakpoint-tablet}{
    font-size: 43px;
    color: #000000;
    padding-top: 161px;
  }
}
