.about-us__item {
  margin-bottom: 30px;
  @media screen and #{$breakpoint-tablet}{
    width: 50%;
    margin-bottom: 58px;
    &:nth-last-child(2) {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
