.form {

}

fieldset {
  display: flex;
  justify-content: center;
}

legend {
  float: left;
  display: inline;
  border: none;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
}

.form__fieldset-content {

}
